{% extends 'base.html.twig' %}

{% block title %}Welcome!{% endblock %}

{% block main %}
<h1>Reserve index</h1>

<ul>
  {% for reserve in reserves %}
  <table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>Description</th>
            <th><a href="{{ path('reserve_show', {'id': reserve.id}) }}">Voir ce qu'il y a à l'intérieur</a></th>
        </tr>
    </thead>
    <tbody>

        <tr>
            <td>{{reserve.id}}</td>
            <td>{{reserve.name}}</td>
            <td>{{reserve.description}}</td>
        </tr>

    </tbody>
    <thead>
  <tr>
  
    <th> &nbsp;</th>
  </tr>
</thead>

</table>
  {% endfor %} {# reserves #}
</ul>

<a href="{{ path('home') }}">Retour à l'accueil</a>

{% endblock %} {# main #}