{% extends 'base.html.twig' %}

{% block title %}Welcome!{% endblock %}

{% block body %}
<h1>Reserve index</h1>

<ul>
  {% for boardgame in reserves %}
  <table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Style</th>
            <th>Difficulty</th>
            <th>Year</th>
        </tr>
    </thead>
    <tbody>

        <tr>
            <td>{{boardgame.id}}</td>
            <td>{{boardgame.name}}</td>
            <td>{{boardgame.style}}</td>
            <td>{{boardgame.difficulty}}</td>
            <td>{{boardgame.year}}</td>
        </tr>

    </tbody>
    <thead>
  <tr>
    ...
    <th> &nbsp;</th>
  </tr>
</thead>
<tbody>
  ...
  <tr>
    ...
    <td><a href="{{ path('reserve_show', {'id': reserve.id}) }}">show</a></td>
  </tr>
</tbody>

</table>
  {% endfor %} {# reserves #}
</ul>

{% endblock %} {# body #}