{% extends 'base.html.twig' %}

{% block title %}Welcome!{% endblock %}

{% block main %}
<h1>Contenu de la réserve {{ reserve.name }} : </h1>

<ul>
  {% for boardgame in boardgames %}
  <table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Difficulty</th>
            <th>Year</th>
        </tr>
    </thead>
    <tbody>

        <tr>
            <td>{{boardgame.id}}</td>
            <td>{{boardgame.name}}</td>
            <td>{{boardgame.difficulty}}</td>
            <td>{{boardgame.year}}</td>
        </tr>

    </tbody>
    <thead>
  <tr>

    <th> &nbsp;</th>
  </tr>
</thead>

</table>
  {% endfor %} {# reserves #}
</ul>

<a href="{{ path('app_reserve') }}">Retour à la liste de réserves</a>

{% endblock %} {# main #}